.wrap{width: 100%; height: auto; padding-bottom: 50px; background-color: #fdd;}
dl{width: 1200px; height: 300px; margin: 0 auto;}
dt{width: 200px; height: 15px; padding: 60px 0 25px; text-align: center;}
dd{width: 200px; height: 200px; background-color: #fa0;}